---
layout: default
title: Contact
permalink: /contact/
---



<div class="container mt-5">
  <div class="row">
    <div class="col-12 col-lg-8">
      <h3 class="h3 text-muted pb-4">
        Contact 
      </h3>
      <p> and I'm a web develper based in Tuzla, Bosnia. </p>
      
      <p>The purpose of this website is to teach you in the most efficient manner, 
      how to build website layouts using HTML, CSS, and JavaScript.</p>
      
      <p>I was always fascinated with the process of learning and new skill acquisition.</p>
      
      <p>I've been working in web design and development for years and I've 
      decided to put all my ideas and experience into a site that will take you 
      from the basics to mid-level of knowledge without any redundant information.
      </p>
      
      <p>I'm constantly perfecting my methods of teaching and relaying information.</p>
      
      <p>If you'd like to know more about me, 
      please visit some of the links provided below.</p>
      
      
      
      
    </div><!-- .col-12.col-lg-8 --><!-- posts' list -->
    
    {% include sitewide-sidebar.html %}<!-- sidebar -->
  </div><!-- row -->
</div><!-- container -->

<!-- Footer -->
{% include footer.html %}