<div id="exampleAccordion" data-children=".item">
  <div class="item">
    <a data-toggle="collapse" data-parent="#exampleAccordion" href="#exampleAccordion1" aria-expanded="true" aria-controls="exampleAccordion1">
      Vectorize a Text-Based Logo in Adobe Illustrator
    </a>
    <div id="exampleAccordion1" class="collapse" role="tabpanel">
      <a href="https://www.udemy.com/vectorize-a-text-based-logo-in-adobe-illustrator" target="_blank">
        <p class="mb-3 text-muted">
          In this course, you will learn how to vectorize a text based logo. We will use a very blurry, low-resolution, pixelated image, and use it as a starting point for recreating the logo from that bitmap-based image into the vector format.
        </p>
      </a>
    </div>
  </div>
  <div class="item">
    <a data-toggle="collapse" data-parent="#exampleAccordion" href="#exampleAccordion2" aria-expanded="false" aria-controls="exampleAccordion2">
      Become an Icon Fonts Pro in No Time
    </a>
    <div id="exampleAccordion2" class="collapse" role="tabpanel">
      <a href="https://www.udemy.com/be-an-icon-fonts-pro-in-no-time" target="_blank">
        <p class="mb-3 text-muted">
          In this course you'll get to see excellent tips and tricks to produce results fast! You'll learn all there is to know on using icon fonts to make stunning graphics in Adobe Illustrator.
        </p>
      </a>
    </div>
  </div>
</div>